{% extends 'base.html' %}
{% load static %}

{% block page_title %}NAA | Newage Auctions{% endblock %}

{% block content %}

<div>
    <img id="landing-picture" src="{% static 'images/analytics-3088958.jpg' %}" alt="Binary">
</div>

<!--Landing Content-->
<section id="landing-content">
    <div class="container p-5">
        <h1 class="text-center p-2 bold">Bringing Auctions in to the new age</h1>
        <p class="p-2">Newage Auctions bring the fun and excitment of auctions from old into the modern digital
            world. Sign-up, login, and bid on some of the worlds oldest and rarest artifacts, real estate
            and more.
        </p>
    </div>
    <!--./container-->
</section>
<!--End Landing Content-->
    
<!--Featured Lots-->
<section class="featured-lots p-1">
    <div class="container">

        <h1 id="page-heading">Featured Lots</h1>
        <div class="row mb-4">

            {% for lot in featured_lots %}
            <div class="col-sm-12 col-md-4">
                <div class="row justify-content-center">
                    <div class="card">
                        <img src="{{ MEDIA_URL }}{{ lot.image }}" class="card-img-top" alt="Lot Image">
                        <div class="card-body">
                            <a href="{% url 'lot' lot.pk %}"><h5 class="card-title text-center">{{ lot.name }}</h5></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <!--./row-->

    <!--</div>-->
    <!----./container-->
</section>
<!--End Featured Lots-->

{% endblock %}