{% extends 'base.html' %}
{% load static %}

{% block page_title %}NAA | Auctions{% endblock %}

{% block content %}

<div class="container">

    <div id="page-heading">
        <h1>Auctions</h1>
    </div>

    {% block messages %}{% include 'messages.html' %}{% endblock %}

    <!-- Search Bar-->
    <div class="row justify-content-center mx-1">

        <div class="col col-12 justify-content-center filter p-3">
            <form method="GET" action="{% url 'keyword_search_auctions' %}" value="{{ request.GET.q} ">
                <div class="row form-group">
                    <div class="col-sm-12 col-md-6 offset-md-2 margin-bottom-1 margin-bottom-0">
                        <p class="text-center">Search Auctions</p>
                        <input type="text" class="form-control" id="keyword-search" 
                            name="q" placeholder="Keyword" value="{{ request.GET.q }}">
                    </div>

                    <div class="col-sm-12 col-md-4 margin-top-2 margin-top-1">
                        <button class="btn btn-primary" type="search">Search</button>
                    </div>

                </div>
                <!--./row-->
            </form>

        </div>
    </div>
    <!--End of Search Bar -->

    <div class="row justify-content-center">
        {% for auction in current_items %}
        <div class="event-summary mx-3">
            <a href="{% url 'auction' auction.pk %}">
                {% if auction.lot.category == 'military' %}
                <div class="online-lots-mil">Newage Auctions - MILITARY</div>
                {% elif auction.lot.category == 'real estate' %}
                    <div class="online-lots-rle">Newage Auctions - REAL ESTATE</div>
                {% elif auction.lot.category == 'weapons' %}
                    <div class="online-lots-wea">Newage Auctions - WEAPONS</div>
                {% else %}
                <div class="online-lots-cul">Newage Auctions - CULTURAL</div>
                {% endif %}
                <div class="event-summary-body d-md-flex">
                    <div class="auctions-image">
                        <img class="small-img med-img" src='{{ MEDIA_URL }}{{ auction.lot.image }}' alt="Auction event image">
                    </div>
                    <div class="data-container text-center text-md-left">
                        <div class="name color-blue">Auction No. {{ auction.pk }}</div>
                        <div class="pb-2">{{ auction.description }}</div>
                        <div class="py-3 text-center">
                            <div><span><b>Start:</b> {{ auction.time_starting }}</span></div>                                         
                            <div><span><b>End:</b> {{ auction.time_ending }}</span></div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    
    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if current_items.has_previous %}
                <a href="?page={{ current_items.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a>
            {% endif %}
    
            <span class="current">
                Page {{ current_items.number }} of {{ current_items.paginator.num_pages }}
            </span>
    
            {% if current_items.has_next %}
                <a href="?page={{ current_items.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>
            {% endif %}
        </span>
    </div>
    <!-- End Pagination -->

</div>
<!-- ./container -->

{% endblock %}