{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <div id="page-heading">
        <h1>Auctions</h1>
    </div>

    {% for auction in current_auctions %}
        <div class="auction-summary">
            <div class="data-container">
                <div class="auction-title">
                    <span><a href="{% url 'auction' auction.pk %}">Auction No. {{ auction.pk }}</a></span>
                    <p>{{ auction.description }}</p>
                </div>
                <div>
                    <span>Start {{ auction.time_starting }}</span>
                    <span>Finish {{ auction.time_ending }}</span>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<!-- ./container -->

{% endblock %}