{% extends 'base.html' %}
{% load static %}

{% block page_title %}NAA | Auctions{% endblock %}

{% block content %}

<div class="container">

    <div id="page-heading">
        <h1>Auctions</h1>
    </div>

    {% block messages %}{% include 'messages.html' %}{% endblock %}

    {% block search_bar %}{% include 'search_bar.html' %}{% endblock %}

    {% for auction in current_items %}
    <div class="event-summary">
        <a href="{% url 'auction' auction.pk %}">
        {% if auction.lot.category == 'military' %}
          <div class="online-lots-mil">Newage Auctions - MILITARY</div>
          {% elif auction.lot.category == 'real estate' %}
            <div class="online-lots-rle">Newage Auctions - REAL ESTATE</div>
          {% elif auction.lot.category == 'weapons' %}
            <div class="online-lots-wea">Newage Auctions - WEAPONS</div>
        {% else %}
          <div class="online-lots-cul">Newage Auctions - CULTURAL</div>
        {% endif %}
            <div class="event-summary-body">
                <div class="auctions-image d-none d-md-block">
                    <img class="small-img" src='{{ MEDIA_URL }}{{ auction.lot.image }}' alt="Auction event image">
                </div>
                <div class="data-container">
                    <div class="name">Auction No. {{ auction.pk }}</div>
                    <div class="pb-2">{{ auction.description }}</div>
                    <div class="time"><span class="time-ends"><b>Start:</b> </span>{{ auction.time_starting }}</div>                                         
                    <div class="time"><span class="time-ends"><b>End:</b> </span>{{ auction.time_ending }}</div>
                </div>

            </div>
        </a>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if current_items.has_previous %}
                <a href="?page={{ current_items.previous_page_number }}">Previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ current_items.number }} of {{ current_items.paginator.num_pages }}
            </span>
    
            {% if current_items.has_next %}
                <a href="?page={{ current_items.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
    <!-- End Pagination -->

</div>
<!-- ./container -->

{% endblock %}