{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

    <div id="page-heading">
        <h1>Auction No. {{ auction.pk }}</h1>
    </div>

    <!-- Message Box -->
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    <!-- End Message Box -->

    <a href="{% url 'all_auctions' %}"><i class="fas fa-chevron-left"></i> Back to auctions</a>

    <h1>{{ auction.lot.name }}</h1>

    <div class="row">
        
        <div class="col-sm-12 col-md-6 mb-sm-2">
            <div class="image-container-full">
                <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ auction.lot.image }}')"></div>
            </div>   
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="lot-details-box">
                <span class="number">
                    <span class='lot-number'>Lot No. {{ auction.lot_id }}</span>
                </span>
                <h3 class="pt-4"><b>Current Bid</b></h3>
                <p>€{{ latest_bid.bid_amount }}</p>
                <p><b>Auction Starts</b></p>
                <p>{{ auction.time_starting }}</p>
                <p><b>Auction Ends</b></p>
                <p>{{ auction.time_ending }}</p>
                <p><b>Number of bids</b></p>
                <p> {{ auction.number_of_bids }}</p>
                <p><b>Origin</b></p>
                <p> {{ auction.lot.origin }}</p>
                <p><b>Age</b></p>
                <p>{{ auction.lot.age }}</p> 
                <p><b>Description</b></p>
                <p>{{ auction.lot.description }}</p>
            </div>
        </div>
    </div>
    <!-- ./row -->
    
    <div class="row justify-content-center">

        <div class="col-sm-12 col-md-6 mt-5">
            <form method="POST" action="{% url 'bid' auction_id=auction.pk %}">
                {% csrf_token %}
                {% for field in bid_form %}
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ field|attr:'class:form-control' }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary ml-3 mb-5">Bid Now</button>
                {% endfor %}
                </div>
            </form>
        </div>

    </div>
    <!-- ./row -->

</div>
<!-- /.container -->
{% endblock %}