{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

    <div id="page-heading">
        <h1>Lot No. {{ lot.pk }}</h1>
    </div>

    <a href="{% url 'all_lot_items' %}"><i class="fas fa-chevron-left mb-3"></i> Back to listings</a>

    <h1>{{ lot.name }}</h1>

    <div class="row">
        
        <div class="col-sm-12 col-md-6">
            <div class="image-container-full">
                <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ lot.image }}')"></div>
            </div>   
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="lot-details-box">
                <span class="number">
                    <span class='lot-number'>Lot No. {{ lot.pk }}</span>
                </span>
                <a href="{% url 'auction' lot.auction.pk %}"><p><b>Auction No. {{ lot.auction.pk }}</b></p></a>
                <p><b>Origin</b></p>
                <p> {{ lot.origin }}</p>
                <p><b>Age</b></p>
                <p>{{ lot.age }}</p> 
                <p><b>Description</b></p>
                <p>{{ lot.description }}</p>
            </div>
        </div>
    </div>
    <!-- ./row -->

</div>
<!-- /.container -->
{% endblock %}
