{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_title %}NAA | Lot No. {{ lot.pk }}{% endblock %}

{% block content %}

<div class="container">

    <div id="page-heading">
        <h1>Lot No. {{ lot.pk }}</h1>
    </div>

    <a href="{% url 'all_lot_items' %}" class="color-blue"><i class="fas fa-chevron-left my-3"></i> Back to listings</a>

</div>
<!--./container-->

<!--Lot Card -->
<section class="featured-lots pb-3">
    <div class="container">

        <h1 class="py-3">{{ lot.name }}</h1>

        <div class="row my-3">
            
            <div class="col-sm-12 col-md-6">
                <div class="image-container-full">
                    <div class="lot-image" style="background-image: url('{{ MEDIA_URL }}{{ lot.image }}')"></div>
                </div>   
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="lot-details-box margin-top-sm-0 margin-top-1">
                    <span class="number">
                        <span class='lot-number'>Lot No. {{ lot.pk }}</span>
                    </span>
                    <div class="py-3 px-1">
                        <h3 class="text-md-center bold">Lot Card</h3>
                        <p class="bold">Origin</p>
                        <p> {{ lot.origin }}</p>
                        <p class="bold">Age</p>
                        <p>{{ lot.age }} years old</p> 
                        <p class="bold">Description</p>
                        <p>{{ lot.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./row -->

    </div>
    <!-- /.container -->
</section>
<!-- End Lot Card -->


<!--Auction-->
<section>
    <div class="container">

        <div class="row my-4 p-1">
            <div class="col-12 text-center">
                <h1 class="bold">Auction</h1>
            </div>

            <div class="col col-12 text-center">
                {% if lot.auction %}
                    <p>This lot will be auctioned off in <a href="{% url 'auction' lot.auction.pk %}" class="color-blue bold">
                        Auction No. {{ lot.auction.pk }}</a>
                    {% if user.is_authenticated %}
                        <div class="d-none">
                    {% else %}
                        <div class="d-block">
                    {% endif %}
                            <p>If you wish to take part in this auction then please 
                                <a href="{% url 'login' %}">
                                    <span class="bold color-blue">login</span></a> or click <a href="{% url 'registration' %}">
                                    <span class="bold color-blue">here</span></a> to register for an account.
                            </p>
                        </div>
                {% else %}
                    <p>This Lot will be on auction soon</p>
                {% endif %}
                </p>
            </div>
        </div>
        <!-- ./row -->

    </div>
    <!--./container-->
</section>
<!--End Auction-->

{% endblock %}
