{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <div class="row justify-content-center mx-1">
        <div class="col col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 mb-5 p-4 filter">

            <div class="row">
                <div class="co col-12 text-center">
                    <h1>Payment Cancel</h1>
                </div>
            </div>

            <div class="row text-center mt-3">
                <div class="col col-12">
                    <p>Your payment was cancelled</p>
                </div>
            </div>

        </div>
    </div>
    <!--./row -->

</div>
<!-- /.container -->
{% endblock %}