{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}NAA | Checkout{% endblock %}

{% block content %}
<div class="container">

    {% block messages %}{% include 'messages.html' %}{% endblock %}

    <div class="row justify-content-center">
        <div class="col col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 mb-5 p-4 filter">

            <div class="row">
                <div class="col col-12 text-center">
                    <h1>Checkout</h1>
                </div>
            </div>

            <div class="row">
                <div class="col col-12">

                    <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        <legend class="title">Payment Details</legend>
                        <div id="credit-card-errors" style="display: none;">
                            <div id="alert-message block-message error" id="stripe-error-message"></div>
                        </div>
                        <div class="form-group">
                            {{ order_form | crispy }}
                        </div>
                        <div class="form-group">
                            {{ payment_form | crispy }}
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <p class="mt-3">Total</p>
                                    <h3><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>€{{ total }}</h3>
                                </div>
                                <div class="col">
                                    <input class="btn btn-primary w-100 my-3" id="submit_payment_btn" name="commit" type="submit"
                                        value="Submit Payment"></div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!--./row-->

        </div>
    </div>
    <!--./row-->

</div>
<!--./container-->
{% endblock %}
