{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_title %}NAA | Registration{% endblock %}


{% block content %}
<div class="container">
    
    <div id="page-heading">
        <h1>Register</h1>
    </div>

    <form method="POST">

        <!-- User form -->
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="id_{{ field.label }}">{{ field.label }}</label>
            {{ field|attr:'class:form-control' }}
        </div>
        {% endfor %}
        {% if form.errors %}
            <ol>
                {% for error in form.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
        {% endif %}
        <!--/ End User form -->

        <!-- User Details form -->
        {% csrf_token %}
        {% for field in profile_form %}
        <div class="form-group">
            <label for="id_{{ field.label }}">{{ field.label }}</label>
            {{ field|attr:'class:form-control' }}
        </div>
        {% endfor %}
        {% if user_details_form.errors %}
            <ol>
                {% for error in profile_form.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
        {% endif %}
        <!-- /User Details form -->

        <button type="submit" class="btn btn-primary">Register</button>

    </form>

</div>
<!--./container-->
{% endblock %}