{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_title %}NAA | Registration{% endblock %}


{% block content %}
<div class="container">
    
    <div id="page-heading">
            <h1>Register</h1>
        </div>

    <form method="POST">
            {% csrf_token %}
            {% for field in registration_form %}
            <div class="form-group">
                <label for="id_{{ field.label }}">{{ field.label }}</label>
                {{ field|attr:'class:form-control' }}
            </div>
            {% endfor %}
            {% if registration_form.errors %}
                <ol>
                    {% for error in registration_form.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            {% endif %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

</div>
<!--./container-->
{% endblock %}