{% extends 'base.html' %}
{% load static %}

{% block page_title %}NAA | Shopping Cart{% endblock %}

{% block content %}

<div class="container">

    <div id="page-heading">
        <h1>Shopping Cart</h1>
    </div>

    {% block messages %}{% include 'messages.html' %}{% endblock %}

    {% if auctions %}
        {% for auction in auctions %}

        <div class="row">
            
            <div class="col-sm-12 col-md-4">
                <div class="auctions-image">
                    <img class="small-img" src='{{ MEDIA_URL }}{{ auction.lot.image }}' alt="Auction image">
                </div>   
            </div>

            <div class="data-container-lots col-sm-12 col-md-8">
                <span class="number">
                    <span class='lot-number'><a href="{% url 'remove_from_cart' auction_id=auction.pk %}" 
                        role="button"><i class="lots-number trash-icon far fa-trash-alt">
                    </i></a></span>
                </span>
                <h3 class="name color-blue py-2">{{ auction.lot.name }}</h3>
                <p>Auction No. {{ auction.pk }}</p>
                <p>winning_bid <span class="bold">€{{ auction.winning_bid }}</span></p>                                            
            </div>

        </div>
        <!-- ./row -->
        <hr>
        {% endfor %}

        <p class="mt-3">Total</p>
        <h3><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>€{{ total }}</h3>
        <a href="{% url 'checkout' %}" id="buy-now" class="btn btn-primary my-3" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    {% else %}
        <div class="row justify-content-center">
            <img id="shopping-cart" src="{% static 'images/empty_cart.png' %}" alt="Empty Shopping Cart">
        </div>

        <div class="text-center m-1">
            <p>You shopping cart is empty.</p>
        </div>

    {% endif %}

</div>
<!-- /.container -->

{% endblock %}