{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">

    <div class="row justify-content-center mx-1">
        <div class="col col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 mb-5 p-4 filter">

            <div class="row">
                <div class="co col-12 text-center">
                    <h1>Oooppss... 404</h1>
                </div>
            </div>

            <div class="row">
                <div class="col col-12">
                    <h3>404 Page not found</h3>
                    <p>We're sorry but the page you requested cannot be found.
                        Please go back to the home page or contact us at
                        support@newageauctions.com.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <!--./row -->

</div>
<!-- /.container -->
{% endblock %}