{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Newage digital auction platform desgined for the modern era!">
    <meta name="keywords" content="Auctions, History">
    <meta name="author" content="Anthony Nicklin">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <title>{% block page_title %}{% endblock %}</title>

</head>

<body>

    <header>
            <nav class="navbar navbar-expand-lg bg-blue fixed-top">
                
                <div class="navbar-brand">
                    <a href="{% url 'index' %}"><img class="logo" src="" alt="NAA logo"></a>
                </div>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                    <ul class="navbar-nav text-uppercase">
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="{% url 'all_auctions' %}">Auctions</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="{% url 'all_lot_items' %}">Lots</a>
                            </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Account
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'profile' %}">{{ user.first_name }}</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'view_cart' %}">Shopping Cart</a>
                              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                        {% else %}
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="{% url 'registration' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!--./collapse-->
                
            </nav>
            <!--End of header and Navigation-->
        </header>
        
        {% if messages %}
            <div>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
       
        <br>
        <div class="mt-5">
            {% block content %}{% endblock %}
        </div>

    <!--Scripts-->
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--Popper JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!--Bootstrap JS-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Stripe JS -->
    {% block head_js %}
    {% endblock head_js %}
</body>

</html>